:root {
	--bg-color                : #2a2420;
	--bg-block-color          : #342c27;
	--bg-block-in-color       : #3d342e;
	--font-color              : #c5bab5;

	--table-border-color      : #ebcbbd;

	--checkbox-hsl            : 20deg;
	--input-hsl               : 20deg;
	--input-submit-hsl        : 170deg;
	--button-hsl              : 40deg;
	--block-hsl               : 24deg;

	--link-color              : #d18e6d;
	--link-hover-border-color : #d26b38;
	--link-hover-color        : var(--link-hover-border-color);
}

html {
	height : 100%;
}

html,
body {
	margin         : 0;
	padding        : 0;
	border         : 0;
	min-height     : 100%;

	background     : var(--bg-color);
	color          : var(--font-color);

	font-family    : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size      : 1.1rem;

	vertical-align : baseline;
}

body, body * {
	box-sizing : border-box;
}

body {
	display        : flex;
	flex-direction : column;
}

footer {
	flex : 0 0 auto;
}

img {
	display       : block;
	max-width     : 100%;
	margin        : auto;

	border-radius : 16px;
}

button {
	background : hsl(var(--button-hsl), 85%, 85%);
	color      : hsl(var(--button-hsl), 85%, 15%);
	border     : none;

	transition : background-color, color, transform 0.24s linear;
}

button:active {
	background-color : hsl(var(--button-hsl), 85%, 75%);
	color            : hsl(var(--button-hsl), 85%, 10%);
}

button:hover {
	background-color : hsl(var(--button-hsl), 85%, 75%);
	color            : hsl(var(--button-hsl), 85%, 10%);

	transform        : translate(2px, -4px);
}

header {
	padding    : 12px 18px;
	min-height : 46px;
}

header ul {
	padding         : 0;
	display         : flex;
	flex-direction  : row;
	align-items     : center;
	justify-content : center;
}

header ul li {
	display     : block;
	padding     : 0 0.2rem;
	margin      : 0 0.6rem;

	font-size   : 1.12rem;
	font-weight : 500;

	list-style  : none;
}

header nav li a,
main nav li a {
	border-bottom : 2px solid transparent;
	transition    : border-bottom-color 0.2s linear;
}

header a:hover,
main a:hover,
a[href='#'] {
	border-bottom-color : var(--link-hover-border-color);
}

a {
	text-decoration : none;
	color           : var(--link-color);
}

a:hover {
	color : var(--link-hover-color);
}

main ul li,
main ol li {
	margin : 8px auto;
}

main button {
	padding       : 0.6rem 2rem;
	margin        : 0.2rem 0.4rem;
	border-radius : 30px;

	font-size     : 1rem;
	font-weight   : bold;
}

main button:hover {
	cursor : pointer;
}

footer {
	padding    : 2rem 0;
	background : #1b110a;
}

h1 {
	font-size : 150%;
}

h2 {
	font-size : 122%;
	margin    : 0.6rem 0;
}

h3 {
	font-size : 115%;
	margin    : 0.4rem 0;
}

h4 {
	font-size : 110%;
	margin    : 0.2rem 0;
}

h5 {
	font-size : 105%;
	margin    : 0.18rem 0;
}

h6 {
	font-size : 100%;
	margin    : 0.14rem 0;
}

table {
	font-size       : 88%;
	width           : 100%;
	border-collapse : collapse;
	border-color    : transparent;
	border-spacing  : 0;
}

th, td {
	border       : solid 1px var(--table-border-color);
	border-style : none solid solid none;
	padding      : 10px;
}

thead tr:first-child th:first-child {
	border-top-left-radius : 8px;
}

thead tr:first-child th:last-child {
	border-top-right-radius : 8px;
}

tfoot tr:last-child th:first-child {
	border-bottom-left-radius : 8px;
}

tfoot tr:last-child th:last-child {
	border-bottom-right-radius : 8px;
}

tr:first-child th {
	border-top-style : solid;
}

tr th:first-child {
	border-left-style : solid;
}

input {

}

footer nav ul,
footer nav ul li {
	padding : 0;
	margin  : 0;
}

footer nav ul li {
	list-style : none;
}

/* --- Classes --- */
td.center {
	text-align : center;
}

img.logo,
img.cat {
	margin-top : 0 !important;
}

img.logo {
	background : var(--bg-block-color);
}

img.cat {
	box-shadow : 2px 2px 4px 1px rgba(30, 16, 8, 0.4);
}

.block-margin {
	margin : 1.6rem auto;
}

.block-margin:first-child {
	margin : auto auto 2rem;
}

footer .block-margin {
	margin : 2rem auto auto;
}

.buttons {
	display         : flex;
	flex-direction  : row;
	flex-wrap       : wrap;
	justify-content : center;
	align-items     : center;
}

.information {
	background    : var(--bg-block-color);
	padding       : .94rem 1.6rem;
	border-radius : 16px;
}

.information fieldset {
	border-color  : #94857a;
	border-radius : 8px;
}

.information-in {
	background    : var(--bg-block-in-color);
	padding       : .94rem 1.6rem;
	border-radius : 16px;
}

.qualities {
	padding : 0 0.6rem;
}

.links {
	padding : 0 0.6rem;
}

.main-content {
	flex : 1 0 auto;
}

.content {
	min-width : 280px;
	max-width : 1200px;
	margin    : 0 auto;
	padding   : 0 1.2rem;
}

.content__frame {
	width         : 100%;
	height        : 420px;
	margin-bottom : 20px;

	border        : none;
	border-radius : 16px;
}

.footer-content {
	display         : flex;
	flex-direction  : column;
	align-items     : center;
	justify-content : center;
}

.footer-links {
	display         : flex;
	flex-direction  : row;
	align-items     : flex-start;
	justify-content : space-around;
	width           : 100%;
}

section.links-list {
	margin-bottom : 30px;
}

.custom-checkbox > input {
	position : absolute;
	z-index  : -1;
	opacity  : 0;
}

.custom-checkbox > span {
	display     : inline-flex;
	align-items : center;
	user-select : none;
}

.custom-checkbox > span::before {
	content             : '';
	display             : inline-block;
	width               : 1em;
	height              : 1em;
	flex-shrink         : 0;
	flex-grow           : 0;
	border              : 2px solid hsl(var(--checkbox-hsl), 30%, 64%);
	border-radius       : 0.24em;
	margin-right        : 0.5em;
	background-repeat   : no-repeat;
	background-position : center center;
	background-size     : 50% 50%;
}

.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
	border-color : hsl(var(--checkbox-hsl), 30%, 70%);
}

.custom-checkbox > input:not(:disabled):active + span::before {
	background-color : hsl(var(--checkbox-hsl), 30%, 25%);
	border-color     : hsl(var(--checkbox-hsl), 30%, 29%);
}

.custom-checkbox > input:focus + span::before {
	box-shadow : 0 0 0 0.18rem hsla(var(--checkbox-hsl), 30%, 75%, 12%);
}

.custom-checkbox > input:focus:not(:checked) + span::before {
	border-color : hsl(var(--checkbox-hsl), 30%, 70%);
}

.custom-checkbox > input:checked + span::before {
	background-color : hsl(var(--checkbox-hsl), 30%, 30%);
	background-image : url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3e%3cpath fill=\'%23fff\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z\'/%3e%3c/svg%3e');
	border-color     : hsl(var(--checkbox-hsl), 30%, 34%);
}

.custom-checkbox > input:disabled + span::before {
	background-color : hsl(var(--checkbox-hsl), 30%, 26%);
	border-color     : hsl(var(--checkbox-hsl), 30%, 28%);
}

.form__inline {
	display : flex;
}

.input,
.submit,
.form__result {
	margin    : 0 0 8px 0;
	font-size : 80%;
	max-width : 400px;
}

.submit {
	display         : flex;
	flex-direction  : row;
	align-items     : center;
	justify-content : center;
}

.input *,
.submit *,
.input-theme {
	outline : none;
}

.input .strict {
	color : #d67c63;
}

.input input,
.input textarea,
.input-theme {
	display       : block;
	padding       : 0.6rem 0.8rem;
	margin-top    : 4px;
	width         : 100%;

	font-size     : 96%;

	background    : hsl(var(--input-hsl), 15%, 30%);
	color         : hsl(var(--input-hsl), 15%, 80%);
	border        : 1px solid hsl(var(--input-hsl), 15%, 32%);
	border-radius : 4px;
}

textarea.input-theme {
	resize : none;
}

.submit input {
	display       : block;
	width         : auto;
	padding       : 0.6rem 1.4rem;
	margin-top    : 4px;

	font-size     : 96%;

	background    : hsl(var(--button-hsl), 85%, 85%);
	color         : hsl(var(--button-hsl), 85%, 15%);
	border        : 1px solid hsl(var(--button-hsl), 85%, 82%);
	border-radius : 8px;

	cursor        : pointer;
}

.submit-full {
	display : block;
}

.submit-full input {
	width : 100%;
}

.input textarea {
	resize : none;
	height : 8rem;
}

.input input:focus,
.input textarea:focus,
.input-theme:focus {
	background : hsl(var(--input-hsl), 15%, 34%);
}

.submit input:hover {
	background-color : hsl(var(--button-hsl), 80%, 80%);
}

.submit input:focus,
.submit input:active {
	background-color : hsl(var(--button-hsl), 85%, 76%);
	color            : hsl(var(--button-hsl), 85%, 10%);
}

.input input::placeholder,
.input textarea::placeholder,
.input-theme::placeholder {
	color : hsl(var(--input-hsl), 15%, 58%);
}

aside.alert {
	padding   : 4px 0;
	margin    : 0 0 8px 0;

	font-size : 84%;
	color     : hsl(50deg 45% 65%);
}

.comments .user-info {

}

.comments article p {
	font-size  : 92%;
	font-style : italic;
}

.comments .datetime {
	text-align : right;
	font-size  : 80%;
}

.mg-bottom {
	margin-bottom : 1.2rem;
}

.form__result {
	border        : 1px solid hsl(var(--input-hsl), 10%, 38%);
	padding       : 8px;
	border-radius : 8px;
}

.form__result.invalid {
	border-color : hsl(var(--input-hsl), 80%, 60%);
}

.form__result:empty {
	display : none;
}

.tasks,
.tasks_list {
	display        : flex;
	flex-direction : column;
	gap            : 20px;
}

.tasks_list:empty::after {
	content      : 'Сейчас ваш список задач пуст...';
	position     : relative;
	font-size    : 0.88rem;
	padding-left : 0.2rem;
	color        : #c19b8e;
}

.tasks__buttons {
	display         : flex;
	flex-wrap       : wrap;
	flex-direction  : row;
	align-items     : center;
	justify-content : center;
	gap             : 6px;
}

.task {
	position         : relative;
	display          : flex;
	flex-direction   : column;
	gap              : 12px;
	padding          : 12px 18px;

	background-color : hsla(var(--block-hsl), 20%, 60%, 12%);
	border-radius    : 8px;
}

.task.hide {
	display : none;
}

.task__ident {
	display   : flex;
	flex-wrap : wrap;
	gap       : 8px;
}

.task__status {
	color : #d17f7f;
}

.task__status-done {
	color : #7fd19f;
}

.task__name {
	font-weight : bold;
}

.task__name-done {
	font-weight     : normal;
	text-decoration : line-through;
}

.task__desc {
	font-size : 0.94rem;
	padding   : 0;
	margin    : 0;
}

.task__desc.hide {
	display : none;
}

.task__edit {
	display    : none;
	height     : auto;
	min-height : 100%;
}

.task__edit.show {
	display : block;
}

.task__content {
	position : relative;
}

.task__buttons {
	display         : flex;
	flex-wrap       : wrap;
	justify-content : flex-end;
}

.task__button {
	padding       : 0.4rem 1.2rem;
	font-size     : 0.88rem;
	border-radius : 6px;
}

.task__button.active {
	background-color:  hsl(var(--button-hsl), 78%, 68%);
}

.task__button.hide {
	display : none;
}

.task__button:hover {
	transform : none;
}
